<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>BlogProject</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/vendor.css">
    <link rel="stylesheet" href="~/css/main.css">

    <!-- script
    ================================================== -->
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<!-- pageheader
   ================================================== -->
<body id="top">

    <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="MainPage">
                        <img src="~/images/logo.png" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->


                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Neyi Aramak İsterseniz ?</span>
                            <input type="search" class="search-field" placeholder="Buraya Yazın" value="Buraya Yazın" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>

                    <a href="#0" title="Kapat" class="header__overlay-close">Kapat</a>

                </div>  <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menü</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Blog Project</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="~/Home/MainPage" title="">Anasayfa</a></li>
                        <li class="has-children">
                            <a href="#" title="">Kategoriler</a>
                            <ul class="sub-menu">
                                <li>
                                @Html.ActionLink("Yasam Tarzı","LifeStyle","Category")
                                </li>

                                <li>
                                    @Html.ActionLink("Saglık", "Health", "Category")
                                </li>

                                <li>
                                    @Html.ActionLink("Aile", "Family", "Category")
                                </li>

                                <li>
                                    @Html.ActionLink("Yönetim", "Management", "Category")
                                </li>

                                <li>
                                    @Html.ActionLink("Gezi", "Travel", "Category")
                                </li>

                                <li>
                                    @Html.ActionLink("İş", "Work", "Category")
                                </li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#0" title="">Blog</a>
                            <ul class="sub-menu">
                                <li>@Html.ActionLink("Blogunuz","Single","Blog")</li>

                            </ul>
                        </li>
                        <li>@Html.ActionLink("Hakkımızda","About","Home")</li>
                        <li><a href="contact.html" title="">@Html.ActionLink("İletişim","Contact","Home")</a></li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->
    <!-- s-extra
        ================================================== -->
        
        @RenderBody()
    <section class="s-extra">

        <div class="row top">

            <div class="col-eight md-six tab-full popular">
                <h3>Popüler</h3>

                <div class="block-1-2 block-m-full popular__posts">
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="~/images/thumbs/small/wheel-150.jpg" alt="">
                        </a>
                        <h5><a href="#0">Saglınız icin tema parklarını ziyaret edin.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> Yazarın Adı</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-19">Aralık 19, 2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="~/images/thumbs/small/shutterbug-150.jpg" alt="">
                        </a>
                        <h5><a href="#0">Aile fotografcılıgının püf noktaları.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> Yazarın Adı</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-18">Aralık 18, 2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="~/images/thumbs/small/cookies-150.jpg" alt="">
                        </a>
                        <h5><a href="#0">Kurabiyede seker yoktur.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> Yazarın Adı</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-16">Aralık 16, 2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="~/images/thumbs/small/beetle-150.jpg" alt="">
                        </a>
                        <h5><a href="#0">Eski Güzel günlere geri dönmek.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> Eren Tokmak</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-16">Aralık 16, 2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="~/images/thumbs/small/tulips-150.jpg" alt="">
                        </a>
                        <h5><a href="#0">10 İlginç faktör kafein hakkında.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> Yazar Adı</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-14">Aralık 14, 2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="~/images/thumbs/small/salad-150.jpg" alt="">
                        </a>
                        <h5><a href="#0">Saglıklı Salata.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> Yazar Adı</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-12">Aralık 12, 2017</time></span>
                        </section>
                    </article>
                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->

            <div class="col-four md-six tab-full about">
                <h3>BlogProject Hakkında</h3>

                <p>
                    Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.
                </p>

                <ul class="about__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->
            </div> <!-- end about -->

        </div> <!-- end row -->

        <div class="row bottom tags-wrap">
            <div class="col-full tags">
                <h3>Etiketler</h3>

                <div class="tagcloud">
                    <a href="#0">Salata</a>
                    <a href="#0">Yemek Tarifi</a>
                    <a href="#0">Yerler</a>
                    <a href="#0">Yolculuklar</a>
                    <a href="#0">Arkadaslar</a>
                    <a href="#0">Gezi</a>
                    <a href="#0">Egzersiz</a>
                    <a href="#0">Okuma</a>
                    <a href="#0">Kosma</a>
                    <a href="#0">Kisisel-Yardım</a>
                    <a href="#0">Bölgeler</a>
                </div> <!-- end tagcloud -->
            </div> <!-- end tags -->
        </div> <!-- end tags-wrap -->

    </section> <!-- end s-extra -->
    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-two md-four mob-full s-footer__sitelinks">

                    <h4>Hızlı Linkler</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="~/Home/MainPage">Anasayfa</a></li>
                        <li><a href="#0">Blog</a></li>
                        <li><a href="#0">Stiller</a></li>
                        <li><a href="#0">Hakkımızda</a></li>
                        <li><a href="#0">İletisim</a></li>
                        <li><a href="#0">Saklılık poliçesi</a></li>
                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">

                    <h4>Arsivler</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Haziran 2018</a></li>
                        <li><a href="#0">Aralık 2017</a></li>
                        <li><a href="#0">Kasım 2017</a></li>
                        <li><a href="#0">Ekim 2017</a></li>
                        <li><a href="#0">Eylül 2017</a></li>
                        <li><a href="#0">Agustos 2017</a></li>
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">

                    <h4>Sosyal</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Instagram</a></li>
                        <li><a href="#0">Twitter</a></li>
                        <li><a href="#0">Pinterest</a></li>
                        <li><a href="#0">Google+</a></li>
                        <li><a href="#0">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">

                    <h4>Senin Önerin</h4>

                    <p>BlogProject icin herhangi bir önerin varsa bize burdan e mailini yazarak yollayabilirsin.</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Adresi" required="">

                            <input type="submit" name="subscribe" value="Gönder">

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright BlogProject 2019</span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>

</body>

</html>